/* CSS declarations go here */

.user_avatar{
	min-height:100px;
	text-align: center;

}
.avatar_img{
	height:75px;
}

.avatar_chat_img{
	height:50px;
}

.otheruser{
	text-align:right;
}

.login_chat_log{
	color: green;
}

.otheruser_chat_log{
	color: blue;
	text-align:right;
}
