.frame {
 background-color:#FFFAFA;
 border-radius: 6px;
}
.help {
 background-color: white;
 border-radius: 6px;
}
body{
 background-color: #7f7fbf;
}
.toolbox{
 background-color:#FFFAFA;
 border-radius: 6px;
}
h2{
 color:white;
 text-shadow:-1px 1px #000000,1px 1px #000000,-1px -1px #000000,1px -1px #@000000;
}

.colors button {
 margin:3px 1px;
}
.color-picked{
 width:50%;
 height: auto;
 border-radius: 3px;
}
.color-picked-wrapper{
 padding-right: 0px
}
.preview {
 color:white;
 text-align:center;
}
