<!-- template that displays individual website entries -->
<template name="websiteitem">
  <li class="list-group-item">
    <div class="row row-content">
      <a href="{{url}}">
        <strong>{{title}}</strong>
      </a>
      <p>
        {{description}}
        <br>
        <small>
          <em>Created On: {{createdOn}}</em>
        </small>
      </p>
      <div class="col-xs-3 col-sm-2">
        <a href="#" class="btn btn-success btn-sm js-upvote">
          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        </a>
        <label class="vote-label" for="upvote-count"> {{voteUp}}
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        </label>
      </div>
      <div class="col-xs-3 col-sm-2">
        <a href="#" class="btn btn-danger btn-sm js-downvote">
          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </a>
        <label class="vote-label" for="downvote-count"> {{voteDown}}
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        </label>
      </div>
      <div class="col-xs-3 col-sm-2">
        <a href="/website/{{_id}}" class="btn btn-primary btn-xs" >  More &raquo; </a>
        <label class="vote-label" for="comment">
          <span class="badge" aria-hidden="true">{{ comments.length }}</span>
          <span class="glyphicon glyphicon-comment" aria-hidden="true"> </span>
        </label>
      </div>
    </div>
  </li>
</template>
