<!-- simple template that displays a message -->
<template name="chat_message">
  <div class="chat_room">
    {{#if loginUser userId}}
    <div class="login_chat_log">
      <span class="text-muted">[{{formatDate timeStamp}}]</span>
      <span class="bold"> You: </span>{{#emoji}}{{text}}{{/emoji}}
      <br>
    </div>
    {{else}} {{#if otherUser userId}}
    <div class="otheruser_chat_log">
      {{#emoji}}{{text}}{{/emoji}}
      <span class="bold"> :{{getUsername userId}} </span>
      <span class="text-muted">[{{formatDate timeStamp}}]</span>
      <br>
    </div>
    {{else}}
    <div class="text-muted system_chat_log">
      Minstant Team ;-) {{#emoji}}{{text}}{{/emoji}}
      <br>
    </div>
    {{/if}} {{/if}}
  </div>
</template>
