<!-- Top level template for the chat page -->
<template name="chat_page">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-5 col-md-offset-1">
      <h4>You're talking to:</h4>
      <img src="/{{loginUseravatar}}" class="login_avatar_chat_img" />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-5">
      <div class="otheruser">
        {{#with otheruser}}
        <h4>
          <em>{{profile.username}}</em>
        </h4>
        <img src="/{{profile.avatar}}" class="otheruser_avatar_chat_img" /> {{/with}}
      </div>
    </div>
    <!-- / chat user -->
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <div class="well well-lg">
        {{#each messages}} {{> chat_message}} {{/each}}
      </div>
    </div>
    <!-- / chat message -->
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <button class="btn btn-primary js-show-emoji-model">{{#emoji}} Add emoji :smile: {{/emoji}}</button>
      {{> emoji_modal}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <form class="js-send-chat">
        <div class="form-group">
          <textarea class="form-control js-textarea" type="text" id="chat-textarea" name="chat" placeholder="type a message here...and enter to send..." rows="4" cols="50" autofocus="true"></textarea>
        </div>
        <button class="btn btn-primary js-submit-btn">Send</button>
      </form>
    </div>
  </div>
</template>
