<!-- Top level template for the chat page -->
<template name="chat_page">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-5">
      <h4>You're talking to:</h4>
      <img src="/{{loginUseravatar}}" class="login_avatar_chat_img" />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-5">
      <div class="otheruser">
        {{#with otheruser}}
        <h4>
          <em>{{profile.username}}</em>
        </h4>
        <img src="/{{profile.avatar}}" class="otheruser_avatar_chat_img" /> {{/with}}
      </div>
    </div>
    <!-- / chat user -->
    <div class="col-xs-12 col-sm-12 col-md-10">
      <div class="well well-lg">
        {{#each messages}} {{> chat_message}} {{/each}}
      </div>
    </div>
    <!-- / chat message -->
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10">
      <form class="js-send-chat">
        <div class="form-group">
          <textarea class="form-control" type="text" id="chat" name="chat" placeholder="type a message here..."></textarea>
        </div>
        <button class="btn btn-primary btn-block">Send</button>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10" role="group">
      <em class="info">select the emoji by click on it..</em>
      {{#emoji}}
      <ol class="js-emoji-icon pagination">
        {{#each emojiList}}
        <li>:{{this}}:</li>
        {{/each}}
      </ol>
      {{/emoji}}
    </div>
  </div>
  <!-- / emoji -->
</template>
