<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
  <meta name="author" content="postalzc">
  <link rel="shortcut icon" href="/op.ico" />
  <title>minstant</title>
</head>

<body>
</body>

<!-- this is the main template used by iron:router to build the page -->
<template name="ApplicationLayout">
  {{> yield "header"}}

  <div class="container">
    {{> yield "main"}}
  </div>
</template>

<!-- Top level template for the lobby page -->
<template name="lobby_page">
  {{> available_user_list}}
</template>
